<div>
	click to 
	<a href="/toggle" style="font-size:36px">
		<% if Config.armed %>
			disArm
		<% else %>
			Arm
		<% end %>
</div>	

<script type='text/javascript'>
	change_color = function(color) {
		var domElem = document.getElementsByTagName('body')[0];
		domElem.style.setProperty('background-color', color);
	};

	var linkElem = document.getElementsByTagName('a')[0];

	if (linkElem.innerHTML.match('disArm')) {
		change_color('red');
	} else {
		change_color('green');
	}
</script>